* {
    margin: 0;
    padding: 0;
}

body {
    height: 300vh;
}

h1 {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

.caixa {
    width: 300px;
    height: 300px;
    background-color: salmon;
    text-align: center;
}

.esquerda-exterior {
    position: absolute;
    left: 0;
}

.direita-exterior {
    position: absolute;
    text-align: center;
    right: 0;
}

.central-exterior {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.caixa-interna {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: slateblue;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}