* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 10px;
}

.form-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 50px;
}

input, textarea{
    margin-bottom: 20px;
}

.actions-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actions-container button{
    width: 45%;
}